html,
body,
#root {
    height: 100%;
    margin: 0;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    width: 700px;
    height: 400px;
    -ms-grid-rows: 1fr 200px 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template: 1fr 200px 1fr / 1fr 1fr;
    gap: 20px;
}

.grid-container div {
    background-color: #daa520;
}
